{% extends "layout.html" %}

{% block content %}
{% for page in pages %}
<h1>{{page.title}}</h1>
    <hr />
<div>{{page.body|marked}}</div>
<br>
<br>
<br>

<form action="/wiki/{{url_name}}/update" method="post">


<button type="submit" class="btn btn-lg btn-danger" data-toggle="popover" title="Submit it?">update</button>
<br>
<textarea class='page_content' name="body">{{page.body}}</textarea>

</form>

<form action="/wiki/{{url_name}}/delete" method="post">



<button type="submit" class="btn btn-lg btn-danger" data-toggle="popover" title="Are you sure you want to delete?">Delete?</button>
</form>


    {%endfor%}
{% endblock %}




