body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("94823_pap3.png");
    background-repeat: repeat-y;
}

a {
  color: #00B7FF;
}

.navbar{
	background-color: #F3E9EA;
}

.add_page_form{

}

.btn-default{
	background: #A41629;
}

.page_title{
	width: 1175px;
}

.page_content{
	height: 200px;
	width: 1175px;
}

